<div class="contributor-auth-modal">
  <h2 class="text-2xl">Hello, Contributor!</h2>

  {{#if @awaitingAuthentication}}
    <div class="w-full">
      <div class="flex w-full mb-3">
        <div> Awaiting authentication from Google: </div>
        <div class="ml-auto -mt-1 text-primary-500">
          {{#if @awaitingWandertextProfile }}
            {{svg-jar "check-circle" class="inline fill-current" width="24" height="24"}}
          {{else}}
            {{svg-jar "circle-o-notch" class="inline fill-current rotate" width="24" height="24"}}
          {{/if}}
        </div>
      </div>
      <div class="flex w-full">
        <div> Awaiting Wandertext profile: </div>
        <div class="ml-auto -mt-1 text-primary-500">
          {{#if @loggedIn }}
            {{svg-jar "check-circle" class="inline fill-current" width="24" height="24"}}
          {{else if @loginError}}
            {{svg-jar "times-circle" class="inline text-red-800 fill-current" width="24" height="24"}}
          {{else}}
            {{svg-jar "circle-o-notch" class="inline fill-current rotate" width="24" height="24"}}
          {{/if}}
        </div>
      </div>
      {{#if @loginError}}
        <div class="alert alert-error mt-3" role="alert">
          Oops! Your account could not be found on Wandertext. Please try again later or check with your instructor.
        </div>
        <div class="mt-3">
          <Button @classes="ml-auto" @onClick={{@closeFailure}}>
            Close
          </Button>
        </div>
      {{/if}}
    </div>
  {{else}}

    <p class="mb-4">
      Please use the button below to login via Google.  If you
      are an approved contributor, you will be forwarded to the Wandertext
      Workbench.  If you believe you should be an approved contributor but are
      not yet added, please contact <code class="text-sm">moacir.p@columbia.edu</code>.
    </p>

    <div class="layout-row layout-align-center-center">
      <Button 
        @onClick={{@login}} 
        @classes="login-via-google">
        Login via Google
      </Button>
    </div>
  {{/if}}
</div>
