<div class="contributor-auth-modal">
  <h2 class="text-2xl">Hello, Contributor!</h2>

  {{#if @awaitingAuthentication}}
  <div class="w-full">
    <div class="flex w-full mb-3">
      <div>
        Awaiting authentication from GitHub:
      </div>
      <div class="ml-auto -mt-1 text-primary-500">
        {{#if @awaitingGithubProfile }}
          {{svg-jar "check-circle" class="inline fill-current" width="24" height="24"}}
        {{else}}
          {{svg-jar "circle-o-notch" class="inline fill-current rotate" width="24" height="24"}}
        {{/if}}
      </div>
    </div>
    {{#if @awaitingGithubProfile }}
    <div class="flex w-full">
      <div>
        Awaiting profile from GitHub:
      </div>
      <div class="ml-auto -mt-1 text-primary-500">
        {{svg-jar "circle-o-notch" class="inline fill-current rotate" width="24" height="24"}}
      </div>
    </div>
    {{/if}}
  </div>
  {{else}}

    <p class="mb-4">Please use the button below to login via <a
       href="http://github.com" target="_blank">GitHub</a>.  If you are an
     approved contributor, you will be forwarded to the Wandertext Workbench.
     If you believe you should be an approved contributor but are not yet
     added, please contact <code>moacir.p@columbia.edu</code>.</p>

    <div class="layout-row layout-align-center-center">
      <Button 
        @onClick={{@login}} 
        @classes="login-via-github">
        Login via GitHub
      </Button>
    </div>
  {{/if}}
</div>
