<div id="text-entry-list" class="h-64 flex-grow text-sm">
  <table>
    <thead>
      <tr>
        {{#each this.columns as |column|}}
          <th>
            {{#component "table-column-header" columnContent=column}}
              {{column.label}}
            {{/component}}
          </th>
        {{/each}}
      </tr>
    </thead>
    <tbody>
      {{#each @text.entries as |entry|}}
        {{#with (changeset entry this.EntryValidations) as |changeset|}}
          <tr>
            {{#each this.columns as |column|}}
              <TableCell
                @changeset={{changeset}}
                @column={{column}}
                @showModal={{this.showModal}}
                @focusIn={{this.setActiveEntry}}
                @validate={{action this.validateProperty changeset column.valuePath}}
              /> 
            {{/each}}
          </tr>
        {{/with}}
      {{/each}}
    </tbody>
  </table>
</div>

{{#if this.isShowingModal}}
  {{#modal-dialog
    onClose=this.toggleModal
    targetAttachment="center"
    translucentOverlay=true
    }}
    <PlaceModal @place={{this.modalPlace}} />
  {{/modal-dialog}}
{{/if}}

