<div class="entry-grid flex-grow text-sm">
  <EmberTable as |t|>
    <t.head @columns={{this.columns}} as |h|>
      <h.row as |r|>
        <r.cell as |column|>
          <TableColumnHeader @columnContent={{column}}>
            {{column.label}}
          </TableColumnHeader>
        </r.cell>
      </h.row>
    </t.head>
    <t.body @rows={{this.rows}} as |b|>
      {{#with (changeset b.rowValue this.EntryValidations) as |changeset|}}
        <b.row as |r|>
          <r.cell as |cell column|>
            <TableCell
              @changeset={{changeset}}
              @column={{column}}
              @showModal={{this.showModal}}
              @focusIn={{action this.setActiveEntry changeset}}
              @validate={{action this.validateProperty changeset column.valuePath}}
            /> 
          </r.cell>
        </b.row>
      {{/with}}
    </t.body>
  </EmberTable>
</div>

