<div id="index-box">
  <h2>
    Welcome to Wandertext.
  </h2>

  <p class="lead"><i>Create and share semantically rich geospatial datasets.</i></p>

  {{#if this.session.isAuthenticated}}
    <Button @classes="logout-button" @onClick={{action this.logout}}>
      Logout
    </Button>
  {{else}}
    <p>Wandertext is currently in private beta. You can follow the development
      by <a href="http://github.com/wandertext/wandertext"
        target="_blank">viewing our source code repository on GitHub {{svg-jar "github" class="-mt-1 fill-current inline"}}</a>. Similarly, you
      can read our {{#link-to "about"}}About{{/link-to}} page for more
      information on the project.</p>

    <p class="mb-4">If you have already have access, please login with your
      GitHub account by clicking on the button below.</p>

    <Button @classes="login-button" @onClick={{action this.toggleModal}}>
      Login
    </Button>

    {{#if this.isShowingModal}}
      {{#modal-dialog
        onClose=(action this.toggleModal)
        targetAttachment="center"
        translucentOverlay=true
        }}
        <ContributorAuthModal
          @login={{this.login}}
          @awaitingAuthentication={{this.awaitingAuthentication}}
          @awaitingGithubProfile={{this.awaitingGithubProfile}}
          @awaitingContributor={{this.awaitingContributor}}
          @loginError={{this.loginError}}
        />
      {{/modal-dialog}}
    {{/if}}


  {{/if}}

  <div class="w-1/2 mt-4">
    <img class="w-full h-auto" src="/assets/cul-logo.png" alt="Columbia University Libraries logo" >
  </div>

</div>
