<div id="index-box">
  <h2 class="text-3xl">
    Welcome to Wandertext.
  </h2>

  <p class="text-2xl"><i>Create and share semantically rich geospatial datasets.</i></p>

  {{#if this.session.isAuthenticated}}
    <Button @classes="logout-button" @onClick={{action this.logout}}>
      Logout
    </Button>
  {{else}}
    <p class="mb-4">Login with your <a href="http://github.com" target="_blank">GitHub
        {{svg-jar "github" class="-mt-1 fill-current inline"}}</a> account by clicking on the
      button below.</p>

    <Button @classes="login-button" @onClick={{action this.toggleModal}}>
      Login
    </Button>

    {{#if this.isShowingModal}}
      {{#modal-dialog
        onClose=(action this.toggleModal)
        targetAttachment="center"
        translucentOverlay=true
        }}
        <ContributorAuthModal @login={{this.login}} />
      {{/modal-dialog}}
    {{/if}}


  {{/if}}

  <div class="w-1/2 mt-4">
    <img class="w-full h-auto" src="/assets/cul-logo.png" alt="Columbia University Libraries logo" >
  </div>

</div>
