<div class="ember-inline-edit {{this.classes}}">
{{#if this.isEditing}}
  <InlineEditor
    @isVisible={{this.isEditing}}
    @value={{readonly this.value}}
    @field={{this.field}}
    @fieldWidth={{this.fieldWidth}}
    @editorClass={{this.editorClass}}
    @on-update={{mut this.value}}
    @on-save={{this.save}}
    @on-cancel={{this.cancel}}
    />
{{else}}
  <InlineEditable
    @value={{this.value}}
    @placeholder={{this.placeholder}}
    @onEdit={{this.startEditing}}
    />  
{{/if}}
</div>
