<ul>
  {{#each this.sidenav.linkList as |item|}}
    <li>
      <p>
        {{item.text}}
      </p>
    </li>
  {{/each}}
  {{#if this.session.isAuthenticated}}
    <li>
      <p>
        Wandertext Workbench
      </p>
    </li>
    <li>
      <p>
        Log Out @{{this.currentContributor.contributor.username}}
      </p>
    </li>
  {{else}}
    <li>
      <p>
        Log In
      </p>
    </li>
  {{/if}}
</ul>
{{yield}}
<ContributorAuthModal @close={{this.closeContributorAuthModal}} @shown={{this.showModal}} />
