{{#paper-content padding=true}}
  {{#paper-list}}
    {{#each this.sidenav.linkList as |item|}}
      {{#paper-item class="md-2-line" href=(href-to item.route)}}
        <p>{{item.text}}</p>
      {{/paper-item}}
    {{/each}}
    {{#if this.session.isAuthenticated}}
      {{#paper-item id="edit" class="md-2-line" href=(href-to "workbench") }}
        <p>Wandertext Workbench</p>
      {{/paper-item}}
      {{#paper-item id="login-button" class="md-2-line" onClick=(action this.logout) }}
        <p>Log Out @{{this.currentContributor.contributor.username}}</p>
      {{/paper-item}}
    {{else}}
      {{#paper-item id="login-button" class="md-2-line" onClick=(action this.showContributorAuthModal) }}
        <p>Log In</p>
      {{/paper-item}}
    {{/if}}
  {{/paper-list}}
  {{yield}}
{{/paper-content}}
<ContributorAuthModal @close={{this.closeContributorAuthModal}} @shown={{this.showModal}} />
