<td class={{ this.classes }}>
  {{#if this.isPlace}}
    {{svg-jar "map-marker" 
      class="inline mr-1 cursor-pointer" 
      onclick=(action @showModal @changeset.place)
    }} 
    {{@changeset.place.name}}
  {{else if this.isDate}}
    {{moment-format (get @changeset this.property) "YYYY-MM-DD"}}
  {{else}}
    {{input
      type="text"
      id=(concat this.property "-" (get @changeset "id"))
      value=this.currentValue
      class=(concat "inline-editor table-edit-input entry-property-" this.property " entry-id-" (get @changeset "id"))
      disabled=this.isDisabled
      focus-in=(action @focusIn @changeset)
      focus-out=(action @validate)
      key-up=(action this.updateChangeset value=target.value)
    }}
      {{#if this.changesetErrors}}
      <br>
        <small>
          <ul>
            {{#each (get this.changesetErrors "validation") as |message|}}
              <li>{{message}}</li>
            {{/each}}
          </ul>
        </small>
      {{/if}}
  {{/if}}
</td>
