<td class={{ this.classes }}>
  {{#if this.isPlace}}
    {{svg-jar "map-marker" 
      class="inline mr-1 cursor-pointer" 
      onclick=(action @showModal @changeset.place)
    }} 
    {{@changeset.place.name}}
  {{else if this.isDate}}
    {{moment-format (get @changeset this.property) "YYYY-MM-DD"}}
  {{else}}
    {{input
      type="text"
      value=(get @changeset this.property)
      class=(concat "inline-editor table-edit-input entry-property-" this.property " entry-id-" (get @changeset "id"))
      disabled=this.isDisabled
      focus-in=(action @focusIn)
      focus-out=(action @validate)
      key-up=(action (changeset-set @changeset this.property) value=target.value)
    }}
    {{#if (get @changeset.error this.property)}}
    <br>
      <small>
        <ul>
          {{#each (get (get @changeset.error this.property) "validation") as |message|}}
            <li>{{message}}</li>
          {{/each}}
        </ul>
      </small>
    {{/if}}
  {{/if}}
</td>
