<div class="text-listing">
  {{#if @text.imgSrc}}
    <img src={{@text.imgSrc}} alt={{@text.name}} class="md-avatar">
  {{else}}
    {{paper-icon "book" class="md-avatar"}}
  {{/if}}
  <div class="md-list-item-text">
    <h3>{{#link-to "workbench.texts.text" @text}}{{text-title @text}}{{/link-to}}</h3>
    <h4>{{@text.slug}}</h4>
  </div>
</div>

