<div style="height: 300px" id="text-entry-list" class="border-4 text-sm">
  <EmberTable as |t|>
    <t.head 
      @columns={{this.columns}} 
      @sorts={{this.sorts}} 
      @onUpdateSorts={{action (mut sorts)}}
      @widthContraint="gte-container"
      @fillMode="first-column"
      as |h|
    >
      <h.row as |r|>
        <r.cell as |column|>
          {{column.name}}
        </r.cell>
      </h.row>
    </t.head>
    <t.body 
      @rows={{this.rows}} 
      @staticHeight={{true}}
      @key="id" 
      as |b|
    >
      <b.row as |r|>
        <r.cell as |cell column|>
          {{#if column.cellComponent}}
            {{#component column.cellComponent cellContent=cell}}
              {{cell}}
            {{/component}}
          {{else}}
            {{cell}}
          {{/if}}
        </r.cell>
      </b.row>
    </t.body>
  </EmberTable>
</div>
