<h2>{{@model.firstName}}</h2>
<h3><a href="http://github.com/{{@model.id}}">@{{@model.id}}</a></h3>

<div>
  <div>
    <div>Texts {{svg-jar "arrow_down"}}</div>
    <div>
      Texts {{svg-jar "arrow_up"}}
      <TextList @texts={{@model.texts}} />
    </div>
  </div>
  <div>
    <div>Texts {{svg-jar "arrow_down"}}</div>
  </div>
</div>
