<div class="entry-grid text-sm">
  <EntryGridControls @columns={{this.columns}}/>
  {{#if this.fetchRecords.isIdle }}
    <EmberTable as |t|>
      <t.head @columns={{this.columns}} as |h|>
        <h.row as |r|>
          <r.cell as |column|>
            {{#component "table-column-header" columnContent=column}}
              {{column.name}}
            {{/component}}
          </r.cell>
        </h.row>
      </t.head>
      <t.body
        @rows={{this.rows}} 
        @key="id"
        as |b|>
        <b.row as |r|>
          <r.cell as |cell column entry|>
            <TableCell
              @entry={{entry}}
              @column={{column}}
              @showModal={{this.showModal}}
              @focusIn={{action this.setActiveEntry entry}}
            /> 
          </r.cell>
        </b.row>  
      </t.body>
    </EmberTable>
  {{else}}
    <p>Loading…</p>
  {{/if}}
</div>

{{#if this.isShowingModal}}
  {{#modal-dialog
    onClose=this.toggleModal
    targetAttachment="center"
    translucentOverlay=true
    }}
    <PlaceModal @place={{this.modalPlace}} />
  {{/modal-dialog}}
{{/if}}

