<div class="flex p-2 shadow-md border mb-2">
  {{#if this.newShowing}}
    <EmberTable as |t|>
      <t.head @columns={{@columns}} as |h|>
        <h.row as |r|>
          <r.cell as |column|>
            {{#component "table-column-header" columnContent=column}}
              {{column.name}}
            {{/component}}
          </r.cell>
        </h.row>
      </t.head>
      <t.body @rows={{this.model}} as |b|>
        <b.row as |r|>
          <r.cell as |cell column entry|>
            <TableCell
              @entry={{entry}}
              @column={{column}}
              @focusIn={{action this.focusIn}}
            />
          </r.cell>
        </b.row>
      </t.body>
    </EmberTable>
  {{else}}
    <Button @onClick={{action this.toggleNew}}>New entry</Button>
  {{/if}}
</div>
