<div class="h-16 p-2 pr-6 w-full flex flex-row space-x-2 justify-between">
  {{#if @linkToRoute}}
    <LinkTo class="info-box-link-to" @route={{@linkToRoute}} @model={{@model.id}}>
      <InfoBox::Text @model={{@model}}/>
    </LinkTo>
  {{else}}
    <InfoBox::Text @model={{@model}}/>
  {{/if}}
    {{yield}}
</div>
