{{! @type="text"}}
<li class="list-item">
  {{#if @data.imgSrc}}
  <img src={{@data.imgSrc}} alt="cover of {{@data.name}}"/>
  {{/if}}
    {{#if @data.markdownName}}
      <h3>
        {{@data.markdownName}}
      </h3>
      {{!markdown-to-html (concat "### " @data.markdownName)}}
    {{else}}
      <h3>
        {{@data.name}}
      </h3>
    {{/if}}
  <div class="flex flex-row justify-center items-center space-x-1">
    <Icon @icon="map" />
    <Icon @icon="caret-down" />
  </div>
</li>

