{{! @type="text"}}
<li class="
  w-full
  flex
  flex-col
  {{if this.mapVisible "bg-columbiaBlue"}}">
  <InfoBox @model={{@model}} @linkToRoute={{@linkToRoute}}>
    <InfoBox::IconBox>
      <button type="button" {{on "click" this.toggleMap}}>
        <Icon @role="button" @icon="map"/>
      </button>
      {{#if this.mapVisible}}
        <Icon @icon="caret-up" />
      {{else}}
        <Icon @icon="caret-down" />
      {{/if}}
    </InfoBox::IconBox>
  </InfoBox>
  {{#if this.mapVisible}}
    <div class="w-full h-60 bg-primary" 
      {{css-transition
        enterClass="opacity-0, max-h-0"
        enterActiveClass="transition-all duration-500 ease-in-out"
        enterToClass="opacity-100 max-h-60"
        leaveClass="opacity-100 max-h-60"
        leaveActiveClass="transition-all duration-500 ease-in-out"
        leaveToClass="opacity-100 max-h-0"
      }}
    >
      &nbsp;
    </div>
  {{/if}}
</li>

