{{#if this.menuState.menuVisible}}
  <aside class="
  w-full h-full p-4
    overflow-hidden
    bg-white font-sans 
    absolute top-0 left-0 z-10 
    transform
  "
    {{css-transition "menu-slide"}}
  >
    <CloseButton 
      @onClick={{this.menuState.toggleMenu}}
      @ariaLabel="Close menu"
      />
    <header>
      <h2 class="text-3xl font-title">
        Wandertext <Icon @icon="logo" /> <span class="sr-only">Menu</span>
      </h2>
    </header>

    <ul role="navigation">
      {{#each this.menuItems as |menuItem|}}
        <Menu::Item @route={{menuItem.route}} @icon={{menuItem.slug}}>
          {{menuItem.text}}
        </Menu::Item>
      {{/each}}
    </ul>

    <footer>
      © 2021, people of Earth
    </footer>
  </aside>
{{/if}}
