{{#if this.isPlace}}
  <div class="flex flex-row">
    <div>{{@entry.place.name}}</div>
    {{#if this.isMappable}}
      <button class="block press-play px-1 ml-auto" 
        onClick={{action @showModal @entry.place}} >
        {{svg-jar "map-marker" class="fill-current text-primary-500" }} 
      </button>
    {{/if}}
  </div>
{{else if this.isDate}}
  {{moment-format (get @entry this.property) "YYYY-MM-DD"}}
{{else}}
  <Input
    @type={{this.inputType}}
    @value={{get @entry this.property}}
    @class={{concat "inline-editor table-edit-input entry-property-" this.property " entry-id-" (get @entry "id")}}
    @disabled={{this.isDisabled}}
    @focus-in={{@focus-in}}
    @enter={{@enter}}
    />
{{/if}}
