<div class="text-listing">
  <div class="text-image-div">
    {{#if @text.imgSrc}}
      {{#link-to "workbench.texts.text" @text }}
        <img class="text-image" src={{@text.imgSrc}} alt={{@text.name}}>
      {{/link-to}}
    {{else}}
      {{svg-jar "book"}}
    {{/if}}
  </div>
  <div class="ml-4">
    <h3 class="text-4xl">{{#link-to "workbench.texts.text" @text}}{{text-title @text}}{{/link-to}}</h3>
  </div>
</div>

