<div class="text-detail">
  {{#if this.docs}}
    <div class="layout-row">
      <div id="overview-content">
        {{#if @text.markdownBlurb }}
          {{markdown-to-html @text.markdownBlurb }}
        {{/if}}
      </div>
      <div class="ml-4">
        {{#if @text.properties.cover }}
          <img src={{ @text.properties.cover }} 
            alt="image for {{ @text.name }}" >
        {{/if}}
      </div>
    </div>
    <TextContributors @contributorsSentence={{this.contributorsSentence}} />
    <TextEntries @entries={{this.entries}} @entrySort={{this.text.entrySort}} />
    <TextPlaces @entries={{this.entries}} @entrySort={{this.text.entrySort}} @place={{this.selectedPlace}} />
  {{else}}
    <FloatingBoxSpinner />
  {{/if}}
</div>
