<li data-test-list-item={{@item.name}}
  class="
  w-full
  flex
  flex-col"
  >
  <Disclosure as |disclosure|>
      <InfoBox @item={{@item}} @linkToRoute={{@linkToRoute}}
        class={{if this.mapVisible "bg-columbiaBlue"}}>
        <InfoBox::IconBox>
          <disclosure.Button data-test-list-item-map-button={{@item.id}}
            class="flex flex-row h-full items-center px-2 space-x-2 hover:shadow">
              <Icon @icon="map"/>
            {{#if disclosure.isOpen}}
              <Icon @icon="caret-up"/>
            {{else}}
              <Icon @icon="caret-down"/>
            {{/if}}
          </disclosure.Button>
        </InfoBox::IconBox>
      </InfoBox>
    <disclosure.Panel
      class="border-t-primary border-t-2 w-full h-[60vh] bg-primary" 
        {{css-transition
          enterClass="opacity-0, max-h-0"
          enterActiveClass="transition-all duration-500 ease-in-out"
          enterToClass="opacity-100 max-h-60"
          leaveClass="opacity-100 max-h-60"
          leaveActiveClass="transition-all duration-500 ease-in-out"
          leaveToClass="opacity-100 max-h-0"
        }}
      data-test-list-item-map-container>
        <Map @bounds={{this.markerBounds}} as |map|>
          {{#each this.markers as |marker|}}
            <map.Marker @lat={{marker.latitude}} @lng={{marker.longitude}} />
          {{/each}}
        </Map>
    </disclosure.Panel>
  </Disclosure>
</li>

