<Menu as |menu|>
  <PopperJS as |reference popover|>
    <menu.Button
      {{reference}}
      >
      <Icon @icon="menu" @role="button" />
    </menu.Button>
    <menu.Items
      {{popover}}
      class="bg-white rounded shadow-lg"
      >
      <nav>
        <ul class="py-4">
          {{#each this.menuItems as |menuItem|}}
            <li>
              <LinkTo @route={{menuItem.route}}>
                <p class="p-1 hover:bg-columbiaBlue px-4">
                  <Icon @role="img" @icon={{menuItem.slug}} class="inline" />
                  {{menuItem.text}}
                </p>
              </LinkTo>
            </li>
          {{/each}}
        </ul>
      </nav>
    </menu.Items>
  </PopperJS>
</Menu>
