<h2>{{ text.properties.title }}</h2>
<img src={{ text.properties.cover }} 
  alt="Cover of {{ text.properties.title }}" 
  class="img-fluid rounded float-right ml-3 mb-3"
  />
<h3>{{ text.properties.author }}</h3>
<p>{{ text.year }}</p>
<ContributorList @users={{users}} />
<TextEntries @entries={{entries}} />
<TextPlaces @distinctPlaces={{distinctPlaces}} />

{{yield}}
