<h2>{{ text.properties.title }}</h2>
<h3>{{ text.properties.author }}</h3>
<p>{{ text.year }}</p>
<p>Instance count: {{ instancesCount }}</p>
<img src={{ text.properties.cover }} alt="Cover of {{ text.properties.title }}" class="img-fluid">

{{yield}}
