{{#if text.properties.cover }}
<img src={{ text.properties.cover }} 
  alt="image for {{ text.name }}" />
{{/if}}
<p>{{ text.year }}</p>

{{#if text.markdownBlurb }}
{{markdown-to-html text.markdownBlurb }}
{{/if}}

<ContributorList @contributors={{contributors}} />
<TextEntries @entries={{entries}} />
<TextPlaces @distinctPlaces={{distinctPlaces}} />
{{yield}}
