<div class="flex">
  {{#paper-expansion-panel expanded=true as |panel|}}
    {{#panel.collapsed rippleInkColor="green"}}
      <div class="md-panel-title">Preview</div>
      <div class="md-panel-summary">Summary</div>
      {{paper-icon "keyboard_arrow_down"}}
    {{/panel.collapsed}}

    {{#panel.expanded as |expanded|}}
      {{#expanded.header}}
        <div class="md-panel-title">Preview</div>
        <div class="md-panel-summary">Expanded summary</div>
        {{paper-icon "keyboard_arrow_up"}}
      {{/expanded.header}}

      {{#expanded.content}}
        <div class="layout-row">
          <div>
            <p>{{ text.year }}</p>

            {{#if text.markdownBlurb }}
            {{markdown-to-html text.markdownBlurb }}
            {{/if}}
          </div>
          <div>
            {{#if text.properties.cover }}
              <img src={{ text.properties.cover }} 
                alt="image for {{ text.name }}" />
            {{/if}}
          </div>
        </div>
      {{/expanded.content}}

    {{/panel.expanded}}
  {{/paper-expansion-panel}}

  {{#paper-expansion-panel as |panel|}}
    {{#panel.collapsed}}
      <div class="md-panel-title">Contributors</div>
      <div class="md-panel-summary">Summary</div>
      {{paper-icon "keyboard_arrow_down"}}
    {{/panel.collapsed}}

    {{#panel.expanded as |expanded|}}
      {{#expanded.header}}
        <div class="md-panel-title">Contributors</div>
        <div class="md-panel-summary">Expanded summary</div>
        {{paper-icon "keyboard_arrow_up"}}
      {{/expanded.header}}

      {{#expanded.content}}
        <TextContributors @contributorsSentence={{this.contributorsSentence}} />
      {{/expanded.content}}

    {{/panel.expanded}}
  {{/paper-expansion-panel}}

  {{#paper-expansion-panel as |panel|}}
    {{#panel.collapsed}}
      <div class="md-panel-title">Entries</div>
      <div class="md-panel-summary">Summary</div>
      {{paper-icon "keyboard_arrow_down"}}
    {{/panel.collapsed}}

    {{#panel.expanded as |expanded|}}
      {{#expanded.header}}
        <div class="md-panel-title">Entries</div>
        <div class="md-panel-summary">Expanded summary</div>
        {{paper-icon "keyboard_arrow_up"}}
      {{/expanded.header}}

      {{#expanded.content}}
        <TextEntries @entriesCount={{this.entriesCount}} />
      {{/expanded.content}}

    {{/panel.expanded}}
  {{/paper-expansion-panel}}

  {{#paper-expansion-panel as |panel|}}
    {{#panel.collapsed}}
      <div class="md-panel-title">Places</div>
      <div class="md-panel-summary">Summary</div>
      {{paper-icon "keyboard_arrow_down"}}
    {{/panel.collapsed}}

    {{#panel.expanded as |expanded|}}
      {{#expanded.header}}
        <div class="md-panel-title">Places</div>
        <div class="md-panel-summary">Expanded summary</div>
        {{paper-icon "keyboard_arrow_up"}}
      {{/expanded.header}}

      {{#expanded.content}}
        <TextPlaces @distinctPlacesCount={{this.distinctPlacesCount}} />
      {{/expanded.content}}

    {{/panel.expanded}}
  {{/paper-expansion-panel}}

  {{yield}}
</div>

