<div>
  <p>{{ text.year }}</p>

  {{#if text.markdownBlurb }}
  {{markdown-to-html text.markdownBlurb }}
  {{/if}}

  <TextContributors @contributorsSentence={{this.contributorsSentence}} />
  <TextEntries @entriesCount={{this.entriesCount}} />
  <TextPlaces @distinctPlacesCount={{this.distinctPlacesCount}} />
  {{yield}}
</div>

<div>
  {{#if text.properties.cover }}
    <img src={{ text.properties.cover }} 
      alt="image for {{ text.name }}" />
  {{/if}}
</div>
