{{! @type="text"}}
<li data-test-list-item={{@model.name}}
  class="
  w-full
  flex
  flex-col
  {{if this.mapVisible "bg-columbiaBlue"}}">
  <InfoBox @model={{@model}} @linkToRoute={{@linkToRoute}}>
    <InfoBox::IconBox>
      <button type="button" {{on "click" this.toggleMap}} data-test-list-item-map-button={{@model.id}}>
        <Icon @role="button" @icon="map"/>
      </button>
      {{#if this.mapVisible}}
        <Icon @role="button" @icon="caret-up" {{on "click" this.toggleMap}}/>
      {{else}}
        <Icon @role="button" @icon="caret-down" {{on "click" this.toggleMap}}/>
      {{/if}}
    </InfoBox::IconBox>
  </InfoBox>
  {{#if this.mapVisible}}
    <div class="border-t-primary border-t-2 w-full h-[60vh] bg-primary" 
      {{css-transition
        enterClass="opacity-0, max-h-0"
        enterActiveClass="transition-all duration-500 ease-in-out"
        enterToClass="opacity-100 max-h-60"
        leaveClass="opacity-100 max-h-60"
        leaveActiveClass="transition-all duration-500 ease-in-out"
        leaveToClass="opacity-100 max-h-0"
      }}
    data-test-list-item-map-container
    data-test-list-item-markers={{this.markers}}>
      <Map @markers={{this.markers}} />
    </div>
  {{/if}}
</li>

