{{#if this.model.contributor.firstName}}
  <h2>Welcome to the Wandertext Workbench, {{this.model.contributor.firstName}}.</h2>
{{else if this.model.contributor.lastName}}
  <h2>Welcome to the Wandertext Workbench, {{this.model.contributor.lastName}}.</h2>
{{else}}
  <h2>Welcome to the Wandertext Workbench.</h2>
{{/if}}

<p class="lead">The Wandertext Workbench is the portal into working with
  Wandertext to create or edit geospatial data. Access is limited to Wandertext
  contributors, and you should not be able to see this page without first
  logging in as a contributor.</p>

<p>At the moment, the only work possible on Wandertext is to edit the entries
for <i>B훮burn훮ma</i>. Please click on the button below to access those
entries.</p>

{{#link-to "workbench.texts.text.entries.index" this.model.text }}
  <Button>
    Edit <i>B훮burn훮ma</i> entries
  </Button>
{{/link-to}}

{{outlet}}
