{{#if this.model.isRunning}}
  {{paper-progress-circular}}
{{else}}
  <h2>{{text-title this.model }}</h2>
  <div>
    {{#if this.model.markdownBlurb }}
      {{markdown-to-html this.model.markdownBlurb }}
    {{else}}
      blurb
    {{/if}}
  </div>
  <div class="flex flex-row">
    <div>
      {{#link-to "workbench.texts.text.entries" this.model }}Entries{{/link-to}}
    </div>
    <div>
      Some other button
    </div>
  </div>
  {{outlet}}
{{/if}}
