<div class="h-16 p-2 pr-6 max-w-full w-full flex flex-row space-x-2 justify-between" ...attributes data-test-info-box>
  {{#if @linkToRoute}}
    <LinkTo class="overflow-hidden" @route={{@linkToRoute}} @model={{@item.id}}>
      <InfoBox::Text @item={{@item}}/>
    </LinkTo>
  {{else}}
    <InfoBox::Text @item={{@item}}/>
  {{/if}}
    {{yield}}
</div>
