<div class="self-end text-3xl block h-full">
  {{#if @model.imgSrc}}
    <img src={{@model.imgSrc}} class="h-full w-auto" alt="cover of {{@model.name}}"/>
  {{/if}}

  {{#if @model.markdownName}}
    <span class="block h-full overflow-hidden">{{markdown-to-html @model.markdownName}}</span>
  {{else}}
    <span class="block h-full overflow-hidden">{{@model.name}}</span>
  {{/if}} 
</div>
