<div class="h-full flex flex-row space-x-2 items-center" data-test-info-box-text>
  {{#if this.hasImg}}
    <img src={{this.imgSrc}} class="h-full w-auto" alt="cover of {{@item.name}}"/>
  {{/if}}

  {{#if this.hasMarkdownName}}
    <span class="truncate prose prose-p:text-3xl prose-p:truncate">
      {{markdown-to-html 
        markdown=this.markdownName 
      }}
    </span>
  {{else}}
    <span class="text-3xl truncate">
     {{@item.name}}
    </span>
  {{/if}} 
</div>
